<!-- start custom footer snippets -->

<!--
<table>
<tbody>
<tr>
<td>        
    <p>Contactgegevens</p>
<p>
Zie Ontwikkeling<br>
Wolfhezerweg 39<br>
6874 AA Wolfheze<br>
+31 6 43 128 067<br>
        </p>
<p>    
anita@zie-ontwikkeling.nl<br>
KvK nummer: 52588742<br>
BTW nummer: NL 166.857.130.B01<br>
    </p>    </td>
<td><img src=
    
      "https://pigna145.github.io/zie-ontwikkeling/assets/images/ZieLogo.png"
    
    alt="{{ '/' | absolute_url }}"></td>
</tr>
</tbody>
</table>
-->

<!-- end custom footer snippets -->
